@import "variables";

// -- Reset --
body, html{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $bk;
}

button:active{
  outline: none;
}

.center-vertically-wrapper{
  min-height: 100vh;
  widows: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.center-vertically{
  width: 100%;
}

// -- General Styling --

.content{
  padding: 25px 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

// -- Other Components --
@import "text";
@import "sidebar";
@import "playlist";