@import 'variables';

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
	background-color: $bk;
}

.content{
  padding-top: 25px;
}

.sidebar{
  padding-top: 15px;
  min-height: 100vh;
  background-color: $sidebar;
}

.list-group{
  .list-group-item{
    border: none;
    border-bottom: 1px solid $divider-color;
    border-radius: 0;

    &:last-child{
      border: none;
    }
  }
  border-radius: 0;
}


// Custom classes
.table,
.list-group{
  &.nobk{
    background: none;

    tr,
    .list-group-item{
      background: none;
    }
  }

  &.borderless{
  	border: none;

    tr,
  	.list-group-item{
  		border: none;
  		padding: 4px 15px;
  	}
  }
}

.list-group{
  &.no-indent .list-group-item{
    padding-left: 0;
  }
}

.list-group-sidebar{
  @extend .list-group.borderless;
  @extend .list-group.nobk;
  @extend .no-indent;
}
