$bk:                           #2D2D2D;
$bk-inverse:                   #ffffff;
$sidebar:                      #080808;

// Material Design
$base-color:                   #ffffff;
$text-color:                   $base-color;
$text-color-inverse:           #000000;
$secondary-text-color:         rgba($text-color, .7);
$hint-text-color:              rgba($text-color, .3);
$divider-color:                rgba($text-color, .12); 

// Sizes
$computer:                     1170px;
$tablet:                       768px;
$phone:                        0px;

// Media rule
$break-computer:               #{' (min-width: ' $computer ')'};
$break-tablet:                 #{' (min-width: ' $tablet ') and (max-width: ' $computer - 1 ')'};
$break-phone:                  #{' (min-width: ' $phone ') and (max-width: ' $tablet - 1 ')'};

$break-computer-min:           #{' (min-width: ' $computer ')'};
$break-tablet-min:             #{' (min-width: ' $tablet ')'};
$break-phone-min:              #{' (min-width: ' $phone ')'};
