<div class="row">
	<!-- Sidebar -->
  <div class="sidebar col-xs-3">
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <h4>Playlist</h4>
				<div class="list-group borderless nobk">
					<% @user.playlists.each do |playlist| %>
				    <a href="/playlist/<%= playlist.id %>" class="list-group-item">
				    	<%= playlist.name %>
				    </a>
				  <% end %>
				</div>
      </div>
      <div class="col-xs-1">
      	<form>
          <input type="submit" value="+" class="btn btn-default">
        </form>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="col-xs-9">
    <div class="content">

    </div>
  </div>
</div>