<div class="row">
	<!-- Sidebar -->
  <div class="sidebar col-xs-3">
    <h4>Playlist</h4>
		<div class="list-group borderless nobk">
		  <a href="/playlist/1" class="list-group-item">Playlist one</a>
		</div>
  </div>

  <!-- Content -->
  <div class="col-xs-9">
    <div class="content">

    </div>
  </div>
</div>