<div class="row">
  <!-- Sidebar -->
  <div class="sidebar col-xs-3">
    <a class="logo" href="/">
      <h3>Playlist Forge</h3>
    </a>
    <div>
      <form action="/create-playlist" method="POST" >
        <h5>Playlists
          <input class="btn btn-success btn-sm" type="submit" value="+">
        </h5>
      </form>
    </div>
    <div class="list-group list-group-sidebar">
      <% @user.playlists.each do |playlist| %>
      <a href="/playlist/<%= playlist.id %>" class="list-group-item">
        <%= playlist.name %>
      </a>
      <% end %>
    </div>
  </div>

  <!-- Content -->
  <div class="col-xs-9">
    <div class="content">
      <h3 class=title>Featured</h3>
      <hr>
       <div class="row">
         <% @featured_playlists.each do |playlist|
              song = playlist.songs.first
              unless song.nil?
                song = RSpotify::Track.find(song.spotify_id)
                image = song.album.images[0]["url"]
              else
                next
              end
         %>
          <div class="col-xs-3">
            <a href="/playlist/<%= playlist.id %>">
              <img src="<%= image %>" class="img-responsive">
            </a>
          </div>
         <% end %>
      </div>
    </div>
    </div>