<style type="text/css">
  body{
    -webkit-box-shadow: inset 0px 0px 196px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: inset 0px 0px 196px 5px rgba(0,0,0,0.53);
    box-shadow: inset 0px 0px 196px 5px rgba(0,0,0,0.53);
  }
</style>

<div class="center-vertically-wrapper">
  <div class="center-vertically">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1>Playlist Forge</h1>
        <a href="/auth/spotify" class="btn btn-success">Login with spotify</a>
      </div>
    </div>
  </div>
</div>