<div class="center-vertically-wrapper">
  <div class="center-vertically">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1 class="title">Playlist Forge</h1>
        <a href="/auth/spotify" class="btn btn-success btn-lg">Login with spotify</a>
      </div>
    </div>
  </div>
</div>