<div class="row">
	<!-- Sidebar -->
  <div class="sidebar col-xs-3">
    <h4>
      <a href="/all-playlists">
        <i class="fa fa-arrow-circle-o-left"></i>
      </a>
      Playlist one
    </h4>
    <div class="list-group borderless nobk">
      <a href="#" class="list-group-item">Song 1</a>
      <a href="#" class="list-group-item">Song 2</a>
    </div>
  </div>

  <!-- Content -->
  <div class="col-xs-9">
    <div class="content">

      <div class="row">
				<div class="col-xs-2">
					<img class="img-responsive" src="http://netstorage.metrolyrics.com/albums/1700238jpg.jpg">
				</div>
				<div class="col-xs-10">
					<h2>Playlist</h2>
				</div>
			</div>
			<hr>
			<table class="table nobk">
				<thead>
					<tr>
            <td scope="row">#</td>
						<td>Title</td>
						<td>Length</td>
					</tr>
				</thead>
        <tbody>
  				<tr>
            <td scope="row">1</td>
  					<td>Shut up and dance</td>
  					<td>3:60</td>
  				</tr>
        </tbody>
			</table>

    </div>
  </div>
</div>